<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>众生</string>
		<key>author</key>
		<string>郭峰</string>
		<key>info</key>
		<string>很牛逼的人物,比金庸还吊!!!!数网博风云人,还看15054郭峰郭大侠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天龙八部</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《天龙八部》是千百个掀天巨浪，而读者就浮在汪洋大海的一叶扁舟上。一个巨浪打过来，可以令读者沉下数十百丈，再一个巨浪掀起，又可以将读者抬高数十百丈在看《天龙八部》的时候，全然身不由主，随着书中的人物、情节而起伏。金庸的作品，到了《天龙八部》，又是一个新的巅峰。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>连城诀</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《连城诀》也是最苦的一部小说。书中人物遭遇之苦，简直有令人掩书不忍卒读者。 狄云为了怕被人发现，躲起来，将自己的头发，一把一把，拨个精光，够苦了吧？但那还只不过是肉体上的痛苦。精神上的苦，有比这更甚于十倍的。不但是正面人物的精神痛苦，连一直在做坏事的人，精神也处于极度痛苦之中。杀人毁尸灭迹之后，每天半夜，梦游起来砌砖，是陷在何等的苦痛之中。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸳鸯刀</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《鸳鸯刀》是金庸小说中别具面目的艺术作品，它以趣动人。在这幅“江湖谐趣图”中，武林英雄、江湖好汉，个个妙趣横生。武侠小说中文字之调侃，非《鸳鸯刀》特有。但通篇皆有喜剧的色彩，这在武侠小说中实属罕见。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>笑傲江湖</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《笑傲江湖》是金庸1967年写的一部武侠小说，1967年4月20日至1969年10月12日连载于《明报》。《笑傲江湖》属于金庸的后期作品，其叙事状物，已到炉火纯青、出神入化的境界。《笑傲江湖》所涉及的场景、人物以及各类武林人物交手搏斗的场面不可胜数，但历历写来，景随情转，变化无穷而皆能贴合生活。《笑傲江湖》的中心是武林争霸夺权，为了达到目的，夺取《辟邪剑谱》和《葵花宝典》，最后两派都败在《辟邪剑谱》和《葵花宝典》上。《笑傲江湖》系海外新派武侠小说代表作之一，其不仅靠跌宕起伏、波谲云诡的情节引人入胜，更能于错综复杂的矛盾冲突中刻画人物性格，塑造出数十个个性鲜明、生动感人的文学形象。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神雕侠侣</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《神雕侠侣》的第一段于1959年5月20日在香港《明报》创刊号上发表。这部小说约刊载了三年，也就是写了三年。这三年是《明报》初创的最艰苦阶段。重行修改的时候，几乎在每一段的故事之中，都想到了当年和几位同事共同辛劳的情景。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>书剑恩仇录</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《书剑》在金庸作品中，不是特殊的作品，原因有：其一，《书剑》是“群戏”，主角是“红花会”，而不是一个人或两个人。而红花会一共有十四个“当家”，金庸虽然突出了其中的几个，但必然分散了感染力，以致没有一个最特殊的人物。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹿鼎记</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《鹿鼎记》写一个一无所长的人，因缘附会，一直向上攀升的过程。但仔细看下来这个人又决不是一无所长，而是全身皆是本领。他的本领，人人皆有，与生俱来，只不过有的人不敢做，不屑做，不会做，不能做，而韦小宝都做了，无所顾忌，不以为错，所以他成功了。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>倚天屠龙记</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>人都道学武，是为强身健体而非逞强决斗，也非称霸武林。张无忌却是为了用武功解救他人，消去矛盾化解纷争淡忘怨仇，正是用宽容的心去容纳世间万象，正所谓海纳百川。只有放开胸怀，武功才能到达极致。张无忌在某些方面是懦弱的不果断的。而张无忌的胸怀也是世人所罕有的–仿似一个“和平使者”一样不喜争斗，因为他觉得冤冤相报何时了？不如放下！不如放下！舍身取义，牺牲小我而成全大我，摈弃私人恩怨而成就和谐共处。如果许多人有张无忌这样的胸怀，战争会减少很多的。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>侠客行</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>此书一反金庸大部分作品的路子，既无明确的时代背景，也没有宏大的场面，写爱情也只是浮光掠影，除了石破天之外，人物描写也只是点到即止，因此比起作者的其他许多作品来，一向较为读者所忽视。其实此书恰恰体现了金庸作品的返璞归真。当石破天还是“狗杂种”的时候，他从未想到过“我是谁”，身世和知识于他同样毫无意义，但在他忽然失去一向熟悉的生活环境，陷入江湖之后，却不得不想到了“我是谁”这个亘古的疑问，而越是想知道究竟便越是惶恐和糊涂。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪山飞狐</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《雪山飞狐》是石破天惊的作品，突破了《书剑恩仇录》的“群戏”，隐约继承了《碧血剑》中的双线发展和倒叙的结构。而将整部小说的结构，推向了一个新的境界，通过一连串的倒叙，倒叙出自每一个人的口中，有每一个之间的说法，在极度扑朔迷离的情形下，将当年发生的事，一步一步加以揭露。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>碧血剑</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>金庸在创作《碧血剑》时，已在寻求一个新的突破，他这部小说采取了一种特异的结构。书中真正的主角，其实是袁崇焕，其次是金蛇郎君，一个在书中没有正式出场的人物，一切活动，只在倒叙中出现。而另一个摆出来一本正经是主角的人物袁承志，相形之下，黯然失色。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>越女剑</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>这部作品以吴越争霸为历史背景，吴优而越劣，勾践为击败夫差，采用了范蠡的计策，就在接近成功时，在铸剑和剑术上遇到了挫折。吴国剑士不但剑利术精，且善用兵法，越人不敌。而此时出现的放羊女阿青却轻易地击败了吴国四剑士，范蠡以之为奇，将阿青接到府邸，终于使越国剑士观摩到了“神剑”的影子。就凭这“神剑”的影子，越国的剑术已是天下无敌了！另一方面，在薛烛的指点下，越国也造出了利剑千万，条件成熟，勾践早已按耐不住，终于大破吴军。而在范蠡的心中，攻破吴国并不是唯一的目的，他更想见到被献给夫差的美女西施。当两人见面时，阿青出现了，因为她已经喜欢上了范蠡，并以剑气伤了西施。但最终因西施的美貌而黯然离去……</string>
	</dict>
	<dict>
		<key>name</key>
		<string>飞狐外传</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>《飞狐外传》是《雪山飞狐》的前传，却写于其后，二者相关联，却不完全统一。此书之中人物更为增多，人物性格更为丰满。该书在金庸作品中有比较重要地位，艺术成就较高，其中塑造的冰雪聪明侠骨柔情的女子程灵素，深受读者偏爱，并是金庸本人坦言最喜欢的人物。此书与《书剑恩仇录》亦有联系。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白马啸西风</string>
		<key>author</key>
		<string>金庸</string>
		<key>info</key>
		<string>小说并不侧重武功的描写，似乎表达一种意念：人人追求的东西，往往并不一定珍贵；而把握住自己所有的幸福，才是人世间难得的境界。这个让人唏嘘的故事，说穿了便觉其中无奈，正如李文秀所说：“你心里真正喜欢的，偏偏得不到，别人硬要给你的，就算好得不得了，我不喜欢，终究是不喜欢。”其实，与其说这是对高昌地图的感慨，不如说是对“情”字的总结。所爱不能爱，所求不能求，得到的却不是自己想要的，大多数人感情悲剧的根源就在于此。</string>
	</dict>
</array>
</plist>
